.show-grid{
	[class^="app-span-"] {
		background: rgba(#BFDBE9,0.2);
		border:1px solid rgba(#BFDBE9,.35);
		padding-top: 10px;
		padding-bottom: 10px;
	}
	margin-top:30px;
	font-size:12px;
}
.app-container{
	padding-bottom: 100px;
}

.ss{
	background: #73daa1;
}
#font{
	font-family: 'shoplo2';
	font-size: 30px;
}
#leftMenu{
	background-color: #1c1f27;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.5) inset;
    color: #fff;
    display: table-cell;
    font-size: 13px;
    overflow: hidden;
    position: relative;
    transform: translate3d(0px, 0px, 0px);
    transition: width 0.3s ease-out 0s;
    vertical-align: top;
    width: 230px;
    z-index: 5;
    position: fixed;
    height: 100%;
    left:0;
    top:0;
}