@mixin transition($time){
	-webkit-transition: all $time linear;
	-moz-transition: all $time linear;
	-ms-transition: all $time linear;
	-o-transition: all $time linear;
	transition: all $time linear;
}

@mixin radius($deg){
	-webkit-border-radius: $deg +px;
	-moz-border-radius: $deg +px;
	border-radius: $deg +px;
}

@mixin clearlist(){
	list-style: none;
	padding: 0;
	margin: 0;
}