// Centered container element
@mixin container-fixed() {
	margin-right: auto;
	margin-left: auto;
	padding-left:  ($grid-gutter-width);
	padding-right: ($grid-gutter-width);
	@include clearfix();
}

@mixin create-app-row(){
	margin-right: ($grid-gutter-width / -1);
	margin-left: ($grid-gutter-width / -1);
	@include clearfix();
}

@mixin create-app-span($col){
	@media (max-width: $break-sm-min) {
		width: 100% !important;
	}
	@media (min-width: $break-sm-min) {
		width: percentage($col/$grid-columns);
	}
	float:left;
	padding-left: 30px;
	padding-right: 30px;
	
}