.select-primary{
	background: $gray-dark;
	@include radius(2);
	border: 0;
	color: $light;
	@include font-size(11);
	font-weight: 600;
	text-transform: uppercase;
	vertical-align: middle;
	line-height: 22px;
	padding: 0 17px;
	@include transition(0.2s);
	display: inline-block;
	text-align: left;
	min-width: 170px;
	option{
		line-height: 22px;
		padding: 8px 10px;
		&:hover{
			background: #222;
		}
	}
}