.pull-left{float: left;}
.pull-right{float: right;}

.filters{
	.pull-right{
		margin-left: 7px;
	}
	.pull-left{
		margin-right: 7px;
	}
}
.page-title,.thumb-80,.thumb-40{
	&.pull-left{
		margin-right: 7px;
	}
}
.checkbox,.radio{
	&.pull-left{
		margin-right: 10px;
	}
}

.no-border{
	border:0 !important;
}
.border-left{
	border-left:1px solid $gray-light !important;
}
.border-right{
	border-right:1px solid $gray-light !important;
}
.border-bottom{
	border-bottom:1px solid $gray-light !important;
}
.app-span-row{
	padding-top: 10px;
	padding-bottom: 10px;
}
.hide{display: none !important;}

.clearfix{
	@include clearfix();
}

//class mostly for options elements
.wd100{
	width: 100%;
	max-width: 100%;
}
