//paddings for table cell use
.pd-left-70{padding-left: 70px !important;}
.pd-left-65{padding-left: 65px !important;}
.pd-left-60{padding-left: 60px !important;}
.pd-left-55{padding-left: 55px !important;}
.pd-left-50{padding-left: 50px !important;}
.pd-left-45{padding-left: 45px !important;}
.pd-left-40{padding-left: 40px !important;}
.pd-left-35{padding-left: 35px !important;}
.pd-left-30{padding-left: 30px !important;}
.pd-left-25{padding-left: 25px !important;}
.pd-left-20{padding-left: 20px !important;}
.pd-left-15{padding-left: 15px !important;}
.pd-left-10{padding-left: 10px !important;}
.pd-left-5{padding-left: 5px !important;}
.pd-left-0{padding-left: 0px !important;}


.pd-right-70{padding-right: 70px !important;}
.pd-right-65{padding-right: 65px !important;}
.pd-right-60{padding-right: 60px !important;}
.pd-right-55{padding-right: 55px !important;}
.pd-right-50{padding-right: 50px !important;}
.pd-right-45{padding-right: 45px !important;}
.pd-right-40{padding-right: 40px !important;}
.pd-right-35{padding-right: 35px !important;}
.pd-right-30{padding-right: 30px !important;}
.pd-right-25{padding-right: 25px !important;}
.pd-right-20{padding-right: 20px !important;}
.pd-right-15{padding-right: 15px !important;}
.pd-right-10{padding-right: 10px !important;}
.pd-right-5{padding-right: 5px !important;}
.pd-right-0{padding-right: 0px !important;}