.ui-autocomplete{
	@include clearlist();
	a{
		display: block;
		padding: 10px;
		@include transition(0.2s);
		&:hover{
			background: $dark-blue;
			h3{
				color: $light;
			}
		}
	}
	figure{
		@include clearfix();
		.thumb-50{
			float: left;
			width: 65px;
			text-align: center;
			overflow: hidden;
		}
		figcaption{
			@include clearfix();
			float: left;
			line-height: 35px;
			padding-top: 10px;
			h3{
				float: left;
				@include font-size(14);
				margin: 0 20px 0 10px;
				width: 400px;
			}
			span{
				float: left;
				color: #999;
				text-align: center;
				@include font-size(14);
				margin-right: 20px;
			}
			button{
				float: right;
			}
		}
	}
}