#appWelcome{
	padding-top: 180px;
	h2{
		@include font-size(19.5);
		font-weight: 300;
		margin: 15px 0;
	}
	#excerpt{
		margin-top: 100px;
		p{
			@include font-size(16);
		}
		.btn{
			margin-top: 15px;
		}
	}
}
#appTitle{
	img{
		display: inline-block;
		margin-right: 20px;	
		vertical-align: middle;
	}
	h1{
		display: inline;
		@include font-size(55);
		font-weight: 300;
		margin: 0;
		vertical-align: middle;
	}
}